<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlStarKenPaRaphVinKentLinJim</title>
    <!-- Google Fonts: Genty Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Genty+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">AlStarKenPaRaphVinKentLinJim</div>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </nav>
        </div>
    </section>


    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
