<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlStarKenPaRaphVinKentLinJim</title>
    <!-- Google Fonts: Momo Trust Display -->
    <link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display:wght@400;700&display=swap" rel="stylesheet">
    <!-- Global Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <!-- Page-Specific Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/works.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tree.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/queue.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graph.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sorting.css') }}">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='image/that.png') }}" 
                 alt="T(HAT) Logo"
                 style="height: 42px; vertical-align: middle;">
        </a>
    </div>
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>